################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PetQuest/.vs/PetQuest/FileContentIndex
/PetQuest/.vs/PetQuest/v17/.suo
